html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#pda-page-main-div {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#pda-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slide 1s forwards;
    animation-delay: 0.1s;

    position: relative;
    top: 100vh;
    left: 0px;
}


@keyframes slide {
    100% {
        top: 0px;
    }
}


#desk-img {
    z-index: -2;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.pda-img{
    max-width: 97vw;
    max-height: 97vh;
    /*object-fit: contain;*/
    z-index: 4;
}

.pda-screen {
    position: absolute;
    z-index: -1;
    left: 26.4%;
    top: 11.5%;
    width: 71.3%;
    height: 84.6%;
    overflow: auto;
}

.pda-screen-top {
    position: absolute;
    z-index: 5;
    left: 29.4%;
    top: 11.9%;
    width: 65.3%;
    height: 84.1%;
    overflow: auto;
}

.pda-main-div {
    position: relative;
}
