.navigation-bar {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    height: 7%;
    margin-top: 1%;
    border-radius: 2vh;
    border-color: var(--decoration-color);
    border-style: solid;

    display: flex;

    align-items: center;   
    background-color: var(--background-dark);

    opacity: 0;

    animation: turn-on 1s forwards;
    animation-delay: var(--total-slide-duration);
    overflow: hidden;
}


@keyframes turn-on {
    100% {
        opacity: 10;
    }
}

.navigation-bar > .hide-icon-div {
    height: 100%;
    width: auto;
    align-items: center;   
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0;
    margin-left: 0;
}
.navigation-bar .icon {
    height: 90%;
    color: var(--decoration-color);
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0;
    margin-left: 0;
}


/*.navigation-bar > div > .icon {*/
/*    height: */
/*}*/

.navigation-bar .icon:hover {
    background-color: var(--background-light);
}


.url-value {
    color: var(--decoration-color);
    font-size: 100%;
    margin-left: 2%;
    line-height: 1;
    overflow: hidden;
}
