
.title-color {
    color: var(--title-color);
}

.subtitle-color {
    color: var(--subtitle-color);
}
.text-color {
    color: var(--text-color);
}
.secondary-text-color {
    color: var(--secondary-text-color);
}
.decoration-color {
    color: var(--decoration-color);
}
.secondary-decoration-color {
    color: var(--secondary-decoration-color);
}

.themed-component {
    background-color: var(--background);
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  /*background-color: var(--decoration-color)*/
  /*background-color: var(--secondary-decoration-color);*/
  background-color: var(--decoration-color);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-decoration-color);
}
