
body, html {
    background: #242f36;
    background-attachment: fixed;
}

.selector{
    border-radius: 15px;
    background: linear-gradient(to left, #0170CA, #4F9DA6);
    padding: 10px;
    margin-right: 20px;
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Chivo';font-size: 22px;
}
    

.top_bar{
    padding-top: 100;
    background: #111111;
}
