#intro{
    color: white;
    margin: 1cm 12.5% 0% 12.5%;
    font-family: 'Chivo';font-size: 25px;
    display: inline-block;
}

.content > div > h1{
    color: white;
    margin: 1cm 1cm 0cm 1cm;
    font-family: 'Chivo';font-size: 35px;
    display: inline-block;
}

.content > div > p{
    color: white;
    margin: 1cm 1cm 1cm 1cm;
    font-family: 'Chivo';font-size: 20px;
    display: inline-block;
}

.content > div > p > a{
    color: white;
    font-family: 'Chivo';font-size: 20px;
    display: inline-block;
}